  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto+Flex:opsz,wght@8..144,400;8..144,800;8..144,1000&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --white:#fff;
    --black:#111;
    --bodyclr:#f4f4f4;
    --borderClr:#e1e1e1 ;

    --deleteBtn_clr:rgb(254, 94, 94);
    --deleteBtnHover_clr:rgb(255, 105, 105);

    --doneBtn_clr:rgb(118, 255, 76);
    --doneBtnHover_clr:rgb(140, 255, 105);

    --impBtn_clr:rgb(255, 231, 76);
    --impBtnHover_clr:rgb(255, 235, 107);
    
    --primary:#808000;
    --primaryHver:#556d2ff1;
    --secondry:#556d2ff1;
    --noteNumber:#e6e6e61f;

    --f-heading: 'Poppins', sans-serif;
    --f-subHeading: 'Roboto Flex', sans-serif;
    --ff-Main_: 'Montserrat', sans-serif;
    --darkBorder:#000;

    /* Gradient for utality classes */
    /* => Trash gradient */
    --trashGradient_c1:#ffcdcd;
    --trashGradient_c2:#ffe0e0;
    --trashGradient_c3: #ffb9b9;
    --trashGradient_c4:#bd6b6b;
    --trashGradient_c5:#fad2d2;
    /* => pinned gradient */
    --pinnedGradient_c1:  #FFFACD;
    --pinnedGradient_c2: #FFFFE0;
    --pinnedGradient_c3: #FFDAB9;
    --pinnedGradient_c4:#BDB76B;
    --pinnedGradient_c5:#FAFAD2;
    /* => done gradient */
    --doneGradient_c1:#3CB371;
    --doneGradient_c2:#90EE90;
    --doneGradient_c3:#9ACD32;
    --doneGradient_c4:#8FBC8F;
    --doneGradient_c5:#00FF7F;

}
/* darkmode ================== */
[data-theme="dark"] {
    --white:rgb(22, 22, 22);
    --black:rgb(255, 254, 254);
    --bodyclr:#000000;
    --borderClr:#4e4e4e ;
    --darkBorder:#252525;
    
    transition: 200ms ease color , background 250ms ease;
    
    /* Gradient for utality classes */
    /* => Trash gradient */
    --trashGradient_c1:#ffb4b4;
    --trashGradient_c2:#d2b7b7;
    --trashGradient_c3: #f98d8d;
    --trashGradient_c4:#bb8484;
    --trashGradient_c5:#fea8a8;
    /* => pinned gradient */
    --pinnedGradient_c1:  #fef6b2;
    --pinnedGradient_c2: #c7c782;
    --pinnedGradient_c3: #d9b391;
    --pinnedGradient_c4:#9f9c6b;
    --pinnedGradient_c5:#dede9b;
    /* => done gradient */
    --doneGradient_c1:#3CB371;
    --doneGradient_c2:#90EE90;
    --doneGradient_c3:#9ACD32;
    --doneGradient_c4:#8FBC8F;
    --doneGradient_c5:#00FF7F;
}
body{
    background: var(--bodyclr);
    height: 100vh;
    transition: 200ms ease visibility;
    scroll-behavior: smooth;
}
/* utility class's */
.pointer-active{
    pointer-events: none;
    opacity: 0.78;
}
body.visible{
    visibility: visible;
}
.f-a{
    color: var(--black);
}
.f-a:hover{
color: var(--white);
}
.loader.non{

    visibility: hidden;
}
.Trash{
    background: linear-gradient(-45deg, 
    var(--trashGradient_c1),
    var(--trashGradient_c2),
    var(--trashGradient_c3),
    var(--trashGradient_c4),
    var(--trashGradient_c5)
    );
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.pinned{
    background: linear-gradient(-45deg, 
    var(--pinnedGradient_c1),
    var(--pinnedGradient_c2),
    var(--pinnedGradient_c3),
    var(--pinnedGradient_c4),
    var(--pinnedGradient_c5)
    );
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


.done{
    background: linear-gradient(-45deg, 
    var(--doneGradient_c1),
    var(--doneGradient_c2),
    var(--doneGradient_c3),
    var(--doneGradient_c4),
    var(--doneGradient_c5)
    );
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.dot-el{
    height: .77rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--primary);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50% , -50%);
    display: none;
}

/* => Animation's */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes loadingSubText {
    0%{content: 'Encypted';}
    25%{content: 'Extraordinory';}
    50%{content: 'Done Work';}
    75%{content: 'custom alert';}
    100%{content: 'cool';}
}
@keyframes lineAlter {
    0%{width: 0%;}
    25%{width: 25%;}
    50%{width: 50%;}
    75%{width: 75%;}
    100%{width: 100%;}
}

/* Scroll bar's */
body::-webkit-scrollbar{
    display: none;
}
.summry-holder::-webkit-scrollbar,
.inner-popup::-webkit-scrollbar,

.container-n::-webkit-scrollbar{
    background: transparent;
    width: 2px;
}
.summry-holder::-webkit-scrollbar-thumb,
.inner-popup::-webkit-scrollbar-thumb,

.container-n::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: 10rem;
}

/* loader */
.loader{
    z-index: 100;
    visibility: visible;
    height: 100vh;
    width: 100%;
    background: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: grid;
    place-content: center;
    transition: 200ms ease visibility;
}

.loader h1{
    font-family: var(--f-heading);
    font-size: 8vw;
    font-weight: 550;
    color: transparent;
    letter-spacing: 2px;
    background-image: url(../img/snowball-user.jpg);
    background-clip: text;
    -webkit-background-clip: text;
}
   .loader p{
    width: 100%;
    height: 100%;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    font-family: var(--f-subHeading);
    color: var(--black);
}
#subFeatures::before{
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50% , -50%);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    animation:  loadingSubText linear 4s infinite;
   }

   footer{

    padding: .25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    text-align: center;
    width: 99.5%;
    border-bottom-left-radius: .25em ;
    border-bottom-right-radius: .25em ;
    margin:.25em auto;
    background: var(--primary);
    font-size: 1vw;
    font-family: var(--ff-Main_);
   }
   footer h1 a{
    color: var(--black);
   }
/* Dark mode */
.DARKMODE{
    width: 150px;
    height: 2.5rem;
    display: block;
    border-radius: 5rem;
    margin-block: 1em;    
    background: var(--bodyclr);
    cursor: pointer;
    border: 1px solid var(--darkBorder);
    position: relative;
}
.DARKMODE::before{
    content: 'LGT';
    position: absolute;
    background-color: var(--black);
    color: var(--white);
    border-radius: 50%;
    font-size: .8em;
    padding: .25em;
    left: 12.5%;
    top: 50%;
    transform: translate(-50% , -50%);
    line-height: 2;
    z-index: 1;
    font-family: var(--f-subHeading);
}
.DARKMODE::after{
    content: 'DRK';
    color: var(--white);
    position: absolute;
    background-color: var(--black);
    border-radius: 50%;
    font-size: .8em;
    padding: .25em;
    right: -8.5%;
    z-index: 1;
    top: 50%;
    transform: translate(-50% , -50%);
    line-height: 2;
    font-family: var(--f-subHeading);
}
.DARKMODE #toggleMode{
    display: none;
}
.DARKMODE .cirlce{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translate(-50% , -50%);
    border-radius: 50%;
    height: 90%;
    /* display: block; */
    aspect-ratio: 1;
    background: var(--black);
    transition: 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) left;
}
#toggleMode:checked + .cirlce{
    left: 86%;
  
}
/* user popup's */
.userPopup{
    padding: .5em;
    height: 80%;
    width: 400px;
    transition: 
    250ms cubic-bezier(0.075, 0.82, 0.165, 1) right,
    200ms visibility ease;
    right: -100%;
    top: 2.4rem;
    z-index: 100;
    background-color: var(--white);
    position: fixed;

    visibility:hidden;
}
.userPopup h5{
    font-family: var(--ff-Main_);
    font-size: 1.4rem;
    line-height: 1.5;

    color: var(--black);
}
.userPopup .close{
    position: absolute;
    top: 0.5rem;
    right:1rem;
    height: 2.15rem;
    cursor: pointer;
    transition: 250ms ease filter;
}
.close img{
    filter: invert(1);
    mix-blend-mode: difference;
    padding: .55em;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.close:hover{
    filter: invert(0.5);
}
.inner-popup{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    
}
/*  navigation */
.container-n{
    height: 100%;
    width: 96%;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
header{
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: .1em;
}
.dateAndTimeContainer{
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .t-d-y{
    height: 100%;
    font-family: var(--f-heading);
    background: var(--primary);
    display: flex;
    align-items: center;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
}
.t-d-y h5{
    margin-inline: .25em;
}
.t-d-y span{
    margin-bottom: .15em;
}
/* user profile -- user-popup */
.user-cd .user-profile{
    cursor: pointer;
    color: var(--black);
    background: var(--primary);
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .525em;
    overflow: hidden;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    transition: 200ms ease background;
}
.user-cd .user-profile:hover{
    background: var(--secondry);
}
.user-profile .img-user{
    width: 20px;
    border-radius: 50%;
    overflow:hidden;
    aspect-ratio: 1;
}
.img-user img{
    border-radius: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.user-pop-detial{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    overflow: hidden;
}
.user-pop-detial .profile-img{
    height: 40px;
    aspect-ratio: 1;
    position: relative;    
    border-radius:1em;
    /* overflow: hidden; */
    border: 1px solid var(--white);
}
.profile-img::before{
    border: 1px solid var(--white);
    opacity: .25;
    padding: 1.75rem;
}
.profile-img::after{
    opacity: .5;
    padding: 1rem;
    border: 1px solid var(--white);
}
.profile-img::before,
.profile-img::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    filter: invert(1);
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.profile-img img{
border-radius:1em;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.user-pop-detial .nameAndAs{
    width: 100%;
    text-align: right;
}
.nameAndAs h2{
    font-family: var(--f-heading);
    line-height: 1;
    color: var(--black);
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 20%;
}
.nameAndAs p{
    line-height: 1.3;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10%;
    color: var(--borderClr);
    font-family: var(--f-subHeading);
}
.divider{
    height: 2px;
    width: 90%;
    margin: auto;
    background: var(--bodyclr);
    border-radius: 1em;
}
.linkFuser{
 height: fit-content;
 width: 100%;
 overflow-x: hidden;
 overflow-y: hidden;
}
.linkFuser li{
 height:fit-content;
 line-height: 2;
 width: 90%;
 font-family: var(--ff-Main_);
 color: var(--black);
 margin-block: .25em;
 border-radius: .25em;
}

.linkFuser li:not(.totalOrder){
    transition: 
    padding 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275) ,
    background 250ms ease , 
    color 200ms ease-in-out ;
cursor: pointer;

font-weight: 550;
}
.linkFuser li:hover:not(.totalOrder){
    background: var(--primary);
    color: var(--white);
    padding:0em .25em ;
}
.linkFuser li p B{
color: var(--borderClr);
}

/* user popup collection */
header .user-cd{
    height: 100%;
    width: fit-content;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}
/* user delete popup user-popup */
.user-cd .user-deleteNoteBox{
    text-align: center;
    width: 80px;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;;
    padding: .45em;
    cursor: pointer;
    background: var(--deleteBtn_clr);
    overflow: hidden;
    height: 100%;
    position: relative;
    transition: 200ms ease background;
}
.user-cd .user-deleteNoteBox:hover{
    background: var(--deleteBtnHover_clr);
}

.completeWork .note .imp-btn,
.completeWork .note .delete-btn,
.completeWork .note .done-btn{
    display: none;
}
/* user done popup user-popup */
.user-cd .user-doneNoteBox{
    overflow: hidden;
    height: 100%;
    padding: .45em;
    cursor: pointer;
    background: var(--doneBtn_clr);
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    width: 80px;
    text-align: center;
    position: relative;
    transition: 200ms ease background;
}
.user-cd .user-doneNoteBox:hover{
    background: var(--doneBtnHover_clr);
}
.trashcan{
    padding-bottom: 4rem;
}
.trashcan .note,
.completeWork .note{
    margin-block: .25em;
}
.trashcan .note .imp-btn,
.trashcan .note .done-btn{

    display: none;
}


.user-deleteNoteBox img,
.user-doneNoteBox img{
    height: 1em;
    aspect-ratio: 1;
    object-fit: contain;
}

nav{
    height: 5rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .1em;
    padding: .25em;
}
.c-uI-box{
    height: fit-content;
    width: 100%;
}
.c-uI-box input{
    height: 2rem;
    width: 100%;
    margin-block: .1em;
    display: block;
    border: 1.4px solid var(--borderClr);
    outline: 0;
    border-radius: .25em;
    padding-left: .25em;
    font-family: var(--f-heading);
}
.user-input-container{
    flex: 1;
    display: flex;
    gap: .1em;
}
.user-input-container .user-input-btn{
    width: 200px;
    border: 0;
    outline: 0;
    background: var(--white);
    border-radius: .25em;
    color: var(--black);
    cursor: pointer;
    font-size: 1.4rem;
    position: relative;
    overflow:hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25em;
    font-family: var(--ff-Main_);
}
.user-input-btn img{
    height:.8em;
    aspect-ratio: 1;
    object-fit: contain;
    filter: invert(1);
    mix-blend-mode: difference;
}
.user-input-btn::before{
    z-index: -1;
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: var(--secondry);
    transition: 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275) height;
}
.user-input-btn:hover::before{
    height: 100%;
}
#noteCounter{
    flex: .2;
    height: 92%;
    text-align: center;
    line-height: 2.8;
    background: var(--primary);
    border-radius: .25em;
    color: var(--black);
    user-select: none;
    pointer-events: none;
    z-index: 1;
    position: relative;
    overflow: hidden;
    font-family: var(--ff-Main_);
    font-weight: 550;
    box-shadow:
    inset #999902 7px -7px 10px 1px ,
    inset #999902 -7px 7px 10px 1px ;
}

.note-collection{
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20rem, 1fr));
    gap: .25em;
}

.note{
    background-color: var(--white);
    padding: .25em;
    height: 11.5rem;
    width: 100%;
    border-radius: .25em;
    border: 2px solid var(--darkBorder);
}
.dateContainer{
    height: 1.5rem;
 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dateContainer .Notenum{
    backdrop-filter: blur(14px);
    text-align: center;
    color: var(--black);
    align-self: flex-start;
    font-size: .99rem;
    width: 2rem;
    line-height: 1;
    background: var(--noteNumber);
    overflow: hidden;
    font-family: var(--ff-Main_);
    font-weight: 450;
    border-radius: .25em;
}
.dateContainer .dateTag{
    backdrop-filter: blur(14px);
    font-size: .99rem;
    padding: 0em .45em;
    border-radius: .25em;
    align-self: flex-start;
    font-size: 14px;
    color: var(--black);
    background: var(--noteNumber);
    font-family: var(--ff-Main_);
    font-weight: 450;
}
.note .heading{
    font-size: 1.8rem;
    height: 2rem;
    width: 97%;
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--black);
    line-height: 1;
    font-family:  var(--f-heading);
}
.note .summry-holder{
    height: 66.65px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.summry-holder .summry{
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    color: var(--black);
    line-height: 1.24;
    font-family:  var(--f-subHeading);
}
.btn-container{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    gap: .25em;
    height: 2rem;

}
.delete-btn{
    background: var(--deleteBtn_clr);
    border-radius: .25em;
    flex: 1;
    border: 2px solid var(--darkBorder);
    cursor: pointer;
    outline: 0;
    text-align: center;
    padding-top: .25em;

}

.done-btn{
    text-align: center;
    outline: 0;
    cursor: pointer;
    border: 2px solid var(--darkBorder);
    background: var(--doneBtn_clr);
    border-radius: .25em;
    flex: 1;
    font-size: 1rem;
    font-weight: 550;
    padding-top: .15em;
}
.imp-btn{
    background: var(--impBtn_clr);
    text-align: center;
    outline: 0;
    cursor: pointer;
    border: 2px solid var(--darkBorder);
    border-radius: .25em;
    flex: 1;
    font-size: 1rem;
    font-weight: 550;
    padding-top: .15em;

}
.delete-btn img,
.imp-btn img,
.done-btn img{
    height: 1.1rem;
    object-fit: contain;
    aspect-ratio: 1;
}

.delete-btn:hover{
    background-color: var(--deleteBtnHover_clr);
}
.done-btn:hover{
    background-color: var(--doneBtnHover_clr);
}
.done-btn:hover{
    background-color: var(-- --impBtn_clrHover_clr);
}



.CustomAlertprgressLine{
    animation: lineAlter linear var( --popupAnimationDuration) forwards;
    background: rgb(26, 26, 26);
    height: 2.5px;
    width: 0%;
    border-radius: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
}
.custom-alert{
    --errAlert:rgb(214, 196, 0);
    --popupAnimationDuration:2s;
    overflow: hidden;
    background: var(--white);
    border-radius: .25em;
    height: 3rem;
    width: 350px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding-left: 1em;
    box-shadow: rgba(243, 201, 201, 0.079) 0px 8px 24px;
    display: none;
    z-index: 500;
}
.custom-alert-popup{
    height: 100%;
    width: 100%;
    background: transparent;
    gap: .25rem;
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--black);
}
.custom-alert .warIcon{
    object-fit: contain;
    width: 20px;
    aspect-ratio: 1;
    overflow: hidden;
    filter: invert(1);
    mix-blend-mode: difference;
}
.custom-alert .warText{
    font-family: var(--ff-Main_);
}
.Impnote-collection::-webkit-scrollbar{
    background-color: transparent;
    height: 4px;
}
.Impnote-collection::-webkit-scrollbar-thumb{
    background-color: var(--primary);
    height: 100%;
}
.Impnote-collection{
    margin-block: .25em;
    height: 14rem;
    padding: .5em;
    border-radius: .25em;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1.4px solid var(--borderClr);

    gap: .25em;
    align-items: center;
    display: none;
    justify-content: flex-start;
}
.impContainer{

    
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: fit-content;

    gap: .25em;
}
.impContainer .note{
    display: inline-block;
    width: 350px;
    margin-inline: .25em;
}



@media (max-width:550px) {
    .user-cd .user-deleteNoteBox,
    .user-cd .user-doneNoteBox,
    .user-cd .user-profile{
        width: 40px;
    }
 
     .custom-alert{
 
        width: calc(100% - 1.5rem);
    
     }
     .userPopup{
        height: 100%;
        width: 100%;
    }
    header{
        width: 97.5%;
        margin: auto;
    }
    footer{
        font-size: .5rem;
       }
  
}

.empCOn{
    margin: 1rem auto;
    height: fit-content;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.empCOn .empCOnImg{
    height: 250px;
    aspect-ratio: 1;
    object-fit: cover;
    margin-top: 4rem;
    filter: invert(1);
    mix-blend-mode: difference;
}
.empCOn .empCOnText{
    font-family: var(--ff-Main_);
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: 500;
}